body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #fafff9;
    width: max;
    resize: horizontal;
    overflow: auto;

}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
a {
	color: #fafff9;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fafff9;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 25px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #626a29;
	border: 0;
	margin-bottom: 30px;
}

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
border: 0px solid;

    width: auto;
    /*resize: horizontal;*/
    overflow: auto;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(248, 248, 248, 0);
}
#menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fafff9;
	font-weight: 700;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #f3ca27;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #fafff9;
	font-size: 14.5px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #3c5f43;
}
.on {
	background-color: #f3ca27 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #3c5f43 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #f3ca27;
	border-color: #f3ca27;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #fafff9;
}

/* Home Style */
header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background-color: #0c3815;
	border: 0px solid;
    padding: max;
    width: max;
    resize: horizontal;
    overflow: center;
	color: #0C3815;
	position: center;
	height: 100%;
}
.intro-text {
	position: center;
	padding-top: 100px;
	padding-right: 0;
	padding-left: 0;
	margin-left: -9%;
	padding-bottom: 100px;
}
.btn-default {
	font-family: 'Open Sans', sans-serif;
	background-color: #f1c40f;
	font-size: 18px;
	transition: all 0.5s;
}


/* Services Section */
#services-section {
	padding: 80px 0 100px 0;
	background-color:#f3ca27;
}
#services-section h4 {
	color: #fafff9;
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
	background: #f3ca27;
	margin-bottom: 6px;
	border-radius: 10%;
	color: #f3ca27;
	transition: all 0.5s;
}
#services-section .service:hover>i.fa {
	background: #f3ca27;
}


/* About Section */
#about-section {
	padding: 80px 0;
	background-color:#0c3815;
}
#about-section h4 {
	color: #fafff9;
	font-size: 20px;
}

/* Team Section */
#team-section {
	padding: 80px 0;
	background-color: #f3ca27;
	}
#team-section hr {
	background: #0c3815;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
	color: #0c3815;
}
#team-section i.fa {
	font-size: 16px;
	color: #0c3815;
	margin-top: 10px;
}
#team-section i.fa:hover {
	color: #0c3815;
}

/* Team Section */
#participants-section {
	padding: 80px 0;
	background-color:#0c3815;
}
#participants-section hr {
	background: #f3ca27;
}
#participants-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 120px;
	height: 120px;
	border: 4px solid transparent;
	transition: all 0.5s;
}
#participants-section .thumbnail {
	background: transparent;
	border: 0;
}
#participants-section .thumbnail .caption {
	padding: 9px;
	color: #fafff9;
}
#participants-section i.fa {
	font-size: 16px;
	color: #f3ca27;
	margin-top: 10px;
}
#participants-section i.fa:hover {
	color: #f3ca27;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #f1c40f;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #f1c40f;
}


/* Testimonials Section */
#testimonials-section {
	padding: 80px 0;
	background-color: #f3ca27;
	}
#testimonial {
	padding: 30px 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}


/* Contact Section */
#contact-section {
	padding: 80px 0 20px 0;
	background-color:#f3ca27;
}
#contact-section hr {
	background: #0c3815;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section .fa {
	color: #f8e287;
	margin-bottom: 10px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #0c3815;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .social {
	margin-top: 60px;
}
#contact-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact-section .social i.fa {
	font-size: 26px;
	padding: 4px 5px;
	color: #0c3815;
	transition: all 0.5s;
}
#contact-section .social i.fa:hover {
	color: #0c3815;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}


/* Sponsor Section */
#sponsor-section {
	padding: 80px 0 20px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	background-color:#0c3815;
}
#sponsor-section hr {
	background: #f3ca27;
}
#sponsor-section h3 {
	font-size: 20px;
	font-weight: 400;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#footer p {
	margin-top: 10px;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(243, 202, 39, 0.8);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}


/* Footer */
#footer {
	background: #f3ca27;
	padding: 15px 0 10px 0;
	color: #0c3815;
	text-align: center;
}

/* Access Section */
#access-section {
	padding: 80px 0;
	background-color: #0c3815;
}
#access-section h4 {
	color: #fafff9;
	font-size: 20px;
}
#access-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#access-section li:before {
	content: "✓";
	color: #fafff9;
	padding-right: 5px;
}
